.active-nav-link{
  border-bottom: 1px solid white;
}

#user-info {
  color: 'black';
  font-size: '12px'; 
}

#user-info td {
  padding: 3px;
}

#user-info tr {
  line-height: 40px;
  color: black;
}

.active-sidebar-link{
  background-color: #ff9800;
}

.active-nav-link:hover, .active-sidebar-link:hover, .nav-wrapper a:hover{
  background-color: white;
  color: #ff9800;
}